<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>人狼ゲーム!!!</title>
  <link href="../css/main.css" rel="stylesheet">
  <script>
    window.onload = function () {
      var sse = new EventSource('/discus/step4');
      sse.onmessage = function (event) {
        console.log("sse.onmessage");
        console.log(event.data);
        var p = document.getElementById("p1");
        if (event.data == "complete") {
          p.innerHTML = "<a href='/vote/step1'>投票へ</a>";
        } else {
          p.innerHTML = "議論中";
        }
      }
    }
  </script>

</head>

<body class="discus">
  <div class="whitetext">
    <p id="p1">議論中</p>
  </div>
</body>

</html>
