<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>人狼ゲーム!!!</title>
  <link href="../css/main.css" rel="stylesheet">
  <script>
    window.onload = function () {
      var sse = new EventSource('/vote/step10');
      sse.onmessage = function (event) {
        console.log("sse.onmessage")
        console.log(event.data);
        var users_list = JSON.parse(event.data);
        var users_table = "";
        for (var i = 0; i < users_list.length; i++) {
          var bgn_tr = "<tr>";
          var end_tr = "</tr>";
          var idx = "<td>" + i + "</td>";
          var u_name = "<td>" + users_list[i].userName + "</td>";
          users_table = users_table + bgn_tr + u_name + end_tr;

        }
        console.log(users_table);
        var tbody = document.getElementById("users_list");
        tbody.innerHTML = users_table;
      }
    }
  </script>
</head>

<body class="night">
  <div class="whitetext">
    以下のメンバーが殺されました
    無記入ならば全員生存です。
    <table border="1">
      <thead>
        <td>名前</td>
      </thead>
      <tbody id="users_list">
        <span th:if="${users}">
          <tr th:each="user,stat:${users}">
            <td>[[${user.userName}]]</td>
          </tr>
        </span>
      </tbody>
    </table>
  </div>
  <a href="/discus/step5">次へ</a>

</body>

</html>
