<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>人狼ゲーム!!!</title>
  <link href="../css/main.css" rel="stylesheet">
  <script>
    window.onload = function () {
      var sse = new EventSource('/vote/step9');
      sse.onmessage = function (event) {
        console.log("sse.onmessage");
        console.log(event.data);
        var p = document.getElementById("p1");
        if (event.data == "complete") {
          p.innerHTML = "<a href='/vote/step11'>朝へ</a>";
        } else {
          p.innerHTML = "終わるまでお待ちください";
        }
      }
    }
  </script>

</head>

<body class="night">
  <div th:if="${arive_list}" class="whitetext">
    役職を知りたい人を選んでください
    <table border="1">
      <thead>
        <th>名前</th>
      </thead>
      <tbody>
        <tr th:each="arive,stat:${arive_list}">
          <td>[[${arive.userName}]]</td>
          <td><a th:href="@{/vote/step8(id=${arive.id})}">役職を見る</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div th:if="${gird_list}" class="whitetext">
    守る人を選択してください
    <table border="1">
      <thead>
        <th>名前</th>
      </thead>
      <tbody>
        <tr th:each="gird,stat:${gird_list}">
          <td>[[${gird.userName}]]</td>
          <td><a th:href="@{/vote/step8(id=${gird.id})}">守る</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div th:if="${kill_list}" class="whitetext">
    噛む人を決めてください
    <table border="1">
      <thead>
        <th>名前</th>
      </thead>
      <tbody>
        <tr th:each="kill,stat:${kill_list}">
          <td>[[${kill.userName}]]</td>
          <td><a th:href="@{/vote/step8(id=${kill.id})}">噛む</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <p>[[${role_name}]]</p>
  <p id="p1">終わるまでお待ちください</p>
</body>

</html>
