<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>人狼ゲーム!!!</title>
  <style>
    body {
      background-image: url(./village_noon.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
  <script>
    window.onload = function () {
      var sse = new EventSource('/vote/step4');
      sse.onmessage = function (event) {
        console.log("sse.onmessage")
        console.log(event.data);
        var users_list = JSON.parse(event.data);
        var users_table = "";
        for (var i = 0; i < users_list.length; i++) {
          var bgn_tr = "<tr>";
          var end_tr = "</tr>";
          var idx = "<td>" + i + "</td>";
          var u_name = "<td>" + users_list[i].userName + "</td>";
          users_table = users_table + bgn_tr + u_name + end_tr;

        }
        console.log(users_table);
        var tbody = document.getElementById("users_list");
        tbody.innerHTML = users_table;
      }
    }
  </script>
</head>

<p>以下のメンバーで始めます</p>

<body>
  <table border="1">
    <thead>
      <td>名前</td>
    </thead>
    <tbody id="users_list">
      <span th:if="${users}">
        <tr th:each="user,stat:${users}">
          <td>[[${user.userName}]]</td>
        </tr>
      </span>
    </tbody>
  </table>
  <div sec:authorize="hasRole('ROLE_HOST')">
    <a href="/discus/step2?id=1">役職を振る</a>
  </div>
  <div sec:authorize="hasRole('ROLE_USER')">
    <a href="/discus/step2?id=2">役職を見る</a>
  </div>
</body>

</html>
