<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>参加者</title>
  <script>
    window.onload = function () {
      var sse = new EventSource('/vote/step4');
      sse.onmessage = function (event) {
        console.log("sse.onmessage")
        console.log(event.data);
        var users_list = JSON.parse(event.data);
        var users_table = "";
        for (var i = 0; i < users_list.length; i++) {
          var bgn_tr = "<tr>";
          var end_tr = "</tr>";
          var idx = "<td>" + i + "</td>";
          var u_name = "<td>" + users_list[i].userName + "</td>";
          var u_role = "<td>" + users_list[i].userRole + "</td>";
          var u_vote = "<td>" + users_list[i].voted + "</td>";
          var u_proc = "<td>" + "<a href='/vote/step3?id=" + users_list[i].id + "'>投票</a>" + "</td>"
          users_table = users_table + bgn_tr + idx + u_name + u_role + u_vote + u_proc + end_tr;

        }
        console.log(users_table);
        var tbody = document.getElementById("users_list");
        tbody.innerHTML = users_table;
      }
    }
  </script>

</head>

<body>
  <p>vote.htmlを表示はできるようにしました</p>

  <div>
    <table border="1">
      <thead>
        <th>Index</th>
        <th>名前</th>
        <th>役職名</th>
        <th>票数</th>
      </thead>
      <tbody id="users_list">
        <span th:if="${users}">
          <tr th:each="user,stat:${users}">
            <td>[[${stat.index}]]</td>
            <td>[[${user.userName}]]</td>
            <td>[[${user.userRole}]]</td>
            <td>[[${user.voted}]]</td>
            <td><a th:href="@{/vote/step3(id=${user.id})}">投票</a></td>
          </tr>
        </span>
      </tbody>
    </table>
  </div>
  <a href="/vote/step2">役職割りへ</a>

</body>

</html>
