<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>参加者</title>

</head>

<body>
  <p>vote.htmlを表示はできるようにしました</p>

  <div>
    <table border="1">
      <thead>
        <th>名前</th>
      </thead>
      <tbody id="users_list">
        <span th:if="${users}">
          <tr th:each="user,stat:${users}">
            <td>[[${user.userName}]]</td>
            <td><a th:href="@{/vote/step3(id=${user.id})}">投票</a></td>
          </tr>
        </span>
      </tbody>
    </table>
  </div>
</body>

</html>
